@font-face {
  font-family: "Golos Text";
  src: url("/fonts/GolosText-Regular.eot");
  src:
    url("/fonts/GolosText-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GolosText-Regular.woff") format("woff"),
    url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/fonts/GolosText-SemiBold.eot");
  src:
    url("/fonts/GolosText-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GolosText-SemiBold.woff") format("woff"),
    url("/fonts/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/fonts/GolosText-Medium.eot");
  src:
    url("/fonts/GolosText-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GolosText-Medium.woff") format("woff"),
    url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/fonts/GolosText-Bold.eot");
  src:
    url("/fonts/GolosText-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GolosText-Bold.woff") format("woff"),
    url("/fonts/GolosText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
